

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.google-logo{
    margin: 30vh auto 2vh auto;
}

.search{
    width: 20vw;
    margin-bottom: 2vh;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid rgb(189, 189, 189);
     color: rgb(189, 189, 189);
     width: 20vw;
     height: 20px;
     padding-left: 10px;
}

.search:focus{
    outline: none;
     border: 1px solid rgb(189, 189, 189);
     color: rgb(189, 189, 189);
}

button{
    background-color: rgb(249, 249, 249);
    border: none;
    font-family: arial, sans-serif;
    font-size: 10px;
}

.bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.bar div {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
}

.bar-left{
    flex-grow: 8;
}

.bar div a{
    text-decoration: none;
    color: rgb(128, 128, 128);
    font-family: arial, sans-serif;
}
